.social-cont {
  gap: 20px !important;
  display: flex;
}
.social-icon {
  font-size: 22px;
  color: #ff0000 !important;

}
.greylinks a {
  text-decoration: none;
}
.custom-small-teaser {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}
