h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  word-break: break-word !important;
  font-weight: 300 !important;
  /* margin-top: 1.5em !important;
    margin-bottom: 1em !important; */
}
.contact-header {
  font-weight: 300 !important;
}
b,
strong {
  font-weight: 700 !important;
}
.breadcrumb li a {
  font-weight: 500 !important;
  text-decoration: none;
}
.media {
  display: flex !important;
  flex-direction: row !important;
}
.media-body {
  /* padding-left: 20px; */
}

.breadcrumb {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-teaser{
  gap:5px;
}
.ls .contactdecp{
  padding-left: 0.6rem;
  padding-right: 0.6rem;

}

.contactdecp p{
  text-align: justify;
}

@media (max-width: 992px) {
  .container, .container-sm {
      max-width: 100% !important;
  }
}