.custom-col-contact{
    width: auto !important;
}

/* @media (max-width: 1025px){
    .custom-col-contact{
        display: flex;
        align-items: center !important;
    }
    .teaser{
        display: flex;
        align-items: center;
        justify-content: center;
    }
} */
@media (max-width: 1199px){
    .custom-col-contact{
        display: flex;
        align-items: center !important;
    }
    .teaser{
        display: flex;

        align-items: center;
        justify-content: center;
    }
    .teaser-column{
        flex-direction: column;
    }
}
.custom-homefeatuer-cont{
  flex-direction: row;
  display: flex;
}

@media (max-width: 1024px) {


    .custom-homefeatuer-cont{
        width: min-content;
    }
  }
  
